.TodoSearch {
    box-sizing: border-box;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding: 15px 15px;
    margin-top: 15px;
    outline-color: rgb(168, 168, 255);
    color: #3b3b3b;
    font-size: 18px;
    text-align: center;
}